<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>Twitterクローン</title>
 <%# <link rel="stylesheet" href="sample.css"> %>
 </head>

<body>
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
    <div class="text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
      <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
      </svg>
    </div>
      <h2 class="fw-bold">Xにログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group mt-3">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, class: 'form-control', :placeholder => 'example@example.com' %>
        </div>

        <div class="form-group mt-3">
          <%= f.label :"パスワード" %><br>
          <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
        </div>

        <div class="form-group mt-3">
          <%= f.submit 'ログイン', class: 'btn btn-dark' %>
        </div>
        <div class="mt-3">
        <%= render "users/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>


